---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Líder Tecnico − Santander México | Minsait",
    description:
      "Líder del Equipo de Respuesta a Incidentes, estamos a cargo de prevenir y reaccionar ante cualquier tipo de emergencia en el proyecto BioOnboarding. Asi como el mantenimiento al flujo y mejoras solcitadas por el mercado",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Junio 2020 - Marzo 2023",
    title: "Principal Frontend Engineer  − Santander México | Minsait",
    description:
      "Lider de desarrollo Front para proyectos de migracion Paas - CaaS. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue.",
  },
  {
    date: "Mayo 2019 - Mayo 2020",
    title: "Software Engineer  − BBVA México | Minsait",
    description:
      "Desarrollo de micro servicios utilizando API internas con Lambdas-NodeJS AWS. Entrenado de chatbot utilizando un motor de procesamiento de lenguaje natural.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
